.navbar-custom{
    background: rgb(99, 183, 99) !important;
}


.nav-link:hover{
    background-color: rgb(106, 195, 106) !important;
    border-radius: 5px;
    color: white !important;
} 

.mainTitle
{
    text-align: center;
}

.rotate {
    animation: rotateZ 2s;
  }

.footer{
    background: rgb(99, 183, 99) !important;
    padding: 10px;
}

.personal-link{
    text-decoration: none;
    color: black;
}

.personal-link:hover{
    color: white;
    background-color: rgb(76, 137, 76) !important;
    padding: 5px;
    border-radius: 5px;
}


@media only screen and (max-width: 991px) and (min-width: 320px)
{
    .paddingSmall{
        padding-top: 10px;
    }
}